/* Variables */
:root {
  --movieContentBg: #ddd;
}

/* Mixins */
@keyframes scaleUp {
  0% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleDown {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Global reset and common styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Styles for .movies__container */
.movies__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 95%;
  padding-top: 30px;
  justify-content: space-around;
  color: #ddd;
}

/* Styles for .movie */
.movie {
  margin: 5px;
  padding: 20px 5px 10px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-blend-mode: color;
  width: 270px;
  height: 400.1px;
  box-shadow: 10px 10px 10px #111;
  transition: background-color 0.25s linear;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-size: cover;
}

.movie:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

.movie:hover .movie__title,
.movie:hover .movie__description,
.movie:hover .movie__infos div,
.movie:hover .movie__rating,
.movie:hover .movie__imdb-button {
  animation: scaleUp 0.01s;
  opacity: 1;
  transition: all 1s ease-in-out;
}

/* Styles for .movie__title */
.movie__title {
  text-transform: uppercase;
  opacity: 0;
  font-size: 25px;
  /* animation: scaleDown 0.55s; */
}

/* Styles for .movie__description */
.movie__description {
  max-height: 200px;
  animation: scaleDown 0.05s;
  opacity: 0;
}

/* Styles for .movie__infos */
.movie__infos {
  display: grid;
  grid-gap: 10px 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  opacity: 0;
}

/* Styles for .info__head */
.info__head {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  opacity: 0;
  font-size: 1.1em;
}

/* Styles for .movie__duration */
.movie__duration {
  animation: scaleDown 0.15s;
}

/* Styles for .movie__director */
.movie__director {
  animation: scaleDown 0.2s;
}

/* Styles for .movie__year */
.movie__year {
  animation: scaleDown 0.25s;
}

/* Styles for .movie__cast */
.movie__cast {
  font-size: 0.9em;
  animation: scaleDown 0.3s;
}

/* Styles for .movie__imdb */
.movie__imdb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
  padding: 0 10px;
}

/* Styles for .movie__rating */
.movie__rating {
  animation: scaleDown 0.35s;
}

/* Styles for .fa-star */
.fa-star {
  width: 9px;
  font-size: 1.2em;
  display: inline-block;
  overflow: hidden;
}

/* Styles for .fa-star.checked */
.fa-star.checked {
  color: yellow;
}

/* Styles for .movie__imdb-button */
.movie__imdb-button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background-color: #ebba33;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  animation: scaleDown 0.4s;
}
